In [15]:
import spacy
import nltk
import re
from nltk.corpus import stopwords
import unicodedata
import string

In [49]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\VENUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\VENUS\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\VENUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\VENUS\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\VENUS\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping chunkers\maxent_ne_chunker.zip.

True

In [50]:
import pandas as pd
import numpy as np

import pickle as pk

import warnings
warnings.filterwarnings("ignore")


from bs4 import BeautifulSoup
import unicodedata
import re

from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize

from nltk.corpus import stopwords


from nltk.corpus import wordnet
from nltk import pos_tag
from nltk import ne_chunk

from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

from nltk.probability import FreqDist
import matplotlib.pyplot as plt
from wordcloud import WordCloud

In [51]:
import pandas as pd 

data = pd.read_csv('spooky.csv')
data.head(10)

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL
5  id22965  A youth passed in solitude, my best years spen...    MWS
6  id09674  The astronomer, perhaps, at this point, took r...    EAP
7  id13515        The surcingle hung in ribands from my body.    EAP
8  id19322  I knew that you could not say to yourself 'ste...    EAP
9  id00912  I confess that neither the structure of langua...    MWS

## 1. Gérer les caractères répétitifs (par exemple « cooooool » → « cool »)

In [47]:
import re
from nltk.corpus import wordnet

# nltk.download('wordnet')
# nltk.download('omw-1.4')


class RepeatReplacer(object):
    def __init__(self):
        self.repeat_regexp = re.compile(r'(\w*)(\w)\2(\w*)')
        self.repl = r'\1\2\3'

    def replace(self, word):
        if wordnet.synsets(word):
            return word
        repl_word = self.repeat_regexp.sub(self.repl, word)
        
        if repl_word != word:
            return self.replace(repl_word)
        else:
            return repl_word

In [52]:
r = RepeatReplacer()
r.replace('cooooool')
#data['q1']= data['text'].apply(lambda x:r.replace(x))
#data

'cool'

## 2. Manipuler des homoglyphes (par exemple « $tupide » → « stupide »)

In [60]:

def remove_accented_chars_func(text):
    '''
    Removes all accented characters from a string, if present
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string without accented characters
    '''
    return unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
remove_accented_chars_func('$tupidé')

'$tupide'

## 3. Transformer les entrées spéciales telles que les URL, les adresses e-mail et les balises HTML à une forme canonique.

In [ ]:
def remove_url_func(text):
    '''
    Removes URL addresses from a string, if present
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string without URL addresses
    ''' 
    return re.sub(r'https?://\S+|www\.\S+', '[URL]', text)
remove_url_func('https://spacy.io/usage')

In [66]:
def remove_html_tags_func(text):
    '''
    Removes HTML-Tags from a string, if present
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string without HTML-Tags
    ''' 
    return BeautifulSoup(text, 'html.parser').get_text()

remove_html_tags_func('<html><body><h1>This is heading 1</h1></body></html>')

'This is heading 1'

In [69]:
def remove_email_func(text):
    '''
    Removes URL addresses from a string, if present
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string without URL addresses
    ''' 
    return re.sub(r'(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)','[EMAIL]', text)
remove_email_func('example@domain.com')

'[EMAIL]'

## 4. Mettre tous les caractères en minuscule.

# Remove puncs

In [8]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [41]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
data['clean_msg']= data['text'].apply(lambda x:remove_punctuation(x))
data.head()

,id,text,author,clean_msg
0,id26305,"This process, however, afforded me no means of...",EAP,This process however afforded me no means of a...
1,id17569,It never once occurred to me that the fumbling...,HPL,It never once occurred to me that the fumbling...
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,In his left hand was a gold snuff box from whi...
3,id27763,How lovely is spring As we looked from Windsor...,MWS,How lovely is spring As we looked from Windsor...
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,Finding nothing else not even gold the Superin...

# lower case

In [42]:
data['clean_msg']= data['clean_msg'].apply(lambda x: x.lower())
data

,id,text,author,clean_msg
0,id26305,"This process, however, afforded me no means of...",EAP,this process however afforded me no means of a...
1,id17569,It never once occurred to me that the fumbling...,HPL,it never once occurred to me that the fumbling...
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,in his left hand was a gold snuff box from whi...
3,id27763,How lovely is spring As we looked from Windsor...,MWS,how lovely is spring as we looked from windsor...
4,id12958,"Finding nothing else, not even gold, the Super...",HPL,finding nothing else not even gold the superin...
...,...,...,...,...
19574,id17718,"I could have fancied, while I looked at it, th...",EAP,i could have fancied while i looked at it that...
19575,id08973,The lids clenched themselves together as if in...,EAP,the lids clenched themselves together as if in...
19576,id05267,"Mais il faut agir that is to say, a Frenchman ...",EAP,mais il faut agir that is to say a frenchman n...
19577,id17513,"For an item of news like this, it strikes us i...",EAP,for an item of news like this it strikes us it...
19578,id00393,"He laid a gnarled claw on my shoulder, and it ...",HPL,he laid a gnarled claw on my shoulder and it s...

URLS

In [43]:
data['clean_msg']= data['text'].apply(lambda x:re.sub(r"http\S+", "URL", x)
)

'URL to remove.'